.mobMain {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url('../img/Group\ 19445.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
}

.mobLogo {
    position: relative;
    width: 50%;
    left: 25%;
    top: 3vh;
}

.mobLogin {
    position: relative;
    height:70%;
    width: 90%;
    left: 5%;
    top: 15%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 0.85;
}

.mobLogin input {
    position: relative;
    width: 90%;
    height: 3.5vh;
    left: 15px;
    margin-top: 0.5vh;
    margin-bottom: 3vh;

    border: 0.5px solid var(--unnamed-color-0d242e);
    border: 0.5px solid #0D242E;
    border-radius: 5px;
    opacity: 1;
}

.text {
    margin-left: 4.5vw;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal 300 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    opacity: 1;
}

.wlc {
    position: relative;
    top: 5%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

.mobInput {
    position: relative;
    top: 10vh;
}

.mobView {
    height: 3vh;
    width: 7vw;
    background: url("../img/view.svg") no-repeat right top;
    background-position: center;
    position: absolute;
    top: 16.9vh;
    right: 5vw;
    border: 0;
}

.mobView.active {
    height: 3vh;
    width: 7vw;
    background: url("../img/view-active.svg") no-repeat right top;
    background-position: center;
    position: absolute;
    top: 16.9vh;
    right: 5vw;
    border: 0;
}

#recpwd {
    position: relative;
    top: -3vh;
    left: 67%;
    text-decoration: var(--unnamed-decoration-underline);
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1076b5);
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 12px/16px Montserrat;
    letter-spacing: 0px;
    color: #1076B5;
    opacity: 1;
}

#mobSubmit {
    position: relative;
    bottom: -6vh;
    height: 5vh;
    left: 3.5vw;
    width: 92%;
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.5;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 10px/16px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 10px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

#mobSubmitA {
    position: relative;
    bottom: -6vh;
    height: 5vh;
    left: 3.5vw;
    width: 92%;
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    background: #08C642 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 10px/16px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 10px/16px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
}

#mobSignup {
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
}

/* REGISTER CSS */

.mobRwlc {
    position: relative;
    top: 3vh;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: center;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
}

.mobRegInput {
    position: relative;
    top: 4vh;
}

.mobReg {
    position: relative;
    bottom: -6vh;
    height: 5vh;
    left: 3.5vw;
    width: 92%;

    background: var(--unnamed-color-1076b5) 0% 0% no-repeat padding-box;
    background: #1076B5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.5;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    text-transform: uppercase;
}

.mobRegA {
    position: relative;
    bottom: -6vh;
    height: 5vh;
    left: 3.5vw;
    width: 92%;

    background: var(--unnamed-color-1076b5) 0% 0% no-repeat padding-box;
    background: #1076B5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    text-transform: uppercase;
}

.mobNoAccount {
    position: relative;
    top:7vh;
    left:3.5vw;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
}

/* LIBRARY CSS */

.mNavBar {
    position: relative;
    height:6vh;
    width: 100%;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.mNavBarBut { 
    position: relative;
    float:left;
    top: 1vh;
    left: 4vw;
    padding: 10px;
    z-index: 999;
}

.mlibLogo {
    position: relative;
    margin: auto;
    width: 42vw;
    height: 4vh;
    top: 1vh;
    left: 18vw;
    z-index: 999;
}

.mlibProfile {
    position: relative;
    top: 1vh;
    left: 16vh;
}

.mlibBut {
    display: block;
    position: relative;
    top: 9vh;
    left: 7vw;
    width: max-content;
    text-decoration: none;
    margin-top: 1vh;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
}

.mlibBut.active {
    border-bottom: 3px solid var(--unnamed-color-08c642);
    opacity: 1;
}

.mNav {
    position: relative;
    top: -4.4vh;
    height: 40vh;
    width: 100%;
    z-index: 998;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}

.mlibSearch {
    position: relative;
    top: -10px;
    left: 20px;
    width: 374px;
    height: 42px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.2px solid var(--unnamed-color-0d242e);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.20000000298023224px solid #0D242E;
    border-radius: 5px;
    opacity: 1;
    /*bottom: 4.3vh;
    left: 18vh;
    width: 50vw;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 0.2px solid var(--unnamed-color-0d242e);
    border-radius: 5px;
    opacity: 1;*/
}

.mlibAll {
    position: relative;
    left: 5vw;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    font: normal normal bold 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #0D242E;
    text-transform: uppercase;
    opacity: 1;
}

.mlibKniga {
    width: 96%;
    margin-left: 2vw;
    margin-bottom: 2vh;
    margin-top: 3vh;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000017;
    border-radius: 8px;
    opacity: 1;
}

.mlibPic {
    display: block;
    position: relative;

    top: 1vh;
    margin: auto;

    width: 96px;
    height: 136px;
    border-radius: 5px;
}

.mlibGC {
    text-align: center;
}

.mlibAuthor { 
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1076b5);
    text-align: center;
    color: #1076B5;
    opacity: 1;
}

.mlibName {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

/* LIBRARY /:id */

.mlibBookTitle {
    height: 7vh;
    width: 89vw;
    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.mlibBookTitle h1 {
    position: relative;
    top: 1vh;
    margin-left: 2vw;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
}

.mlibBookImage {
    position: relative;
    top: 6vh;
    left: 26vw;
    width: 49vw;
    height: 27vh;
    background: transparent url('../img/Mask Group 30.png') center center/contain no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    opacity: 1;
}


.mlibBookInfo {
    position: relative;
    top: 4vh;
    left: 6vw;
    width: 89vw;
    height: 50vh;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    opacity: 1;
}

.mlibReturn {
    position: relative;
    top: 1vh;
    left: 4vw;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    text-decoration: none;
    opacity: 1;
}

.mlibButton {
    position: relative;
    margin-top: -1vh;
    
    width: 100%;
    height:3vh;

    background: var(--unnamed-color-1076b5) 0% 0% no-repeat padding-box;
    background: #1076B5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000017;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    border: 0;
    color:white;
}

/* SETTINGS CSS */

.msetGeneral {
    position: relative;
    top: 2vh;
    left: 4vw;
    float: left;
    width: 92vw;
    height: calc(max-content + 1vh);
    margin-right: 2vw;
    margin-top: 1vh;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    opacity: 1;
}

.msetG p {
    margin-left: 2vw;
}

.mbs {
    position: relative;
    top: 2vh;
    left: 4vw;
}

.msetB {
    position: relative;
    top: -4vh;
    left: 59vw;
    height: 5vh;
    width: 28vw;

    background: var(--unnamed-color-08c642) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    border: 0;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
}

.msetG span {
    display: inline-block;
    position: relative;
    top: -2vh;
    width:89vw;
    height: 0vh;
    margin-left: 1vw;
    margin-right: 1vw;

    border: 0.1px solid #1076B5;
    opacity: 1;
}

.msetG img {
    display: inline-block;
    position: relative;
    margin-left: 1vw;
    top: -3.9vh;
    left: 87vw;
}

.msetGeneral h1 {
    margin-top: 1vh;
    margin-left: 2vw;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
}

.msetG {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0d242e);
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
}